<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chuck Norris - Jokes</title>
  </head>
  <body>
    <div>
      <h1>Chuck Norris <spam>Jokes</spam></h1>
      <h3><%= joke %></h3>
    </div>
    <a href="/categories">Voltar para página inicial</a>
  </body>
</html>